<div class="footer">
    <div class="row">
        <div class="col-3">
            <img src="../../../assets/icons/logoAbcd.png" alt="logo" />
        </div>
        <div class="col-3">
            <strong>Address:</strong><br>
            <small>Old No. 87 New No. 1/97, Vinayagar Kovil Street (Oppo. to Murugalaya Corprate Office), Swarnapuri,
                Salem - 4</small>
        </div>
        <div class="col-3">
            <strong>Social Media:</strong><br>
            <ul class="navbar-nav d-flex flex-row align-items-center justify-content-center gap-3 p-0 mt-2">
                <li>
                    <a href="https://www.instagram.com/abcd_dance_studio?igsh=cGhiaWh6em4wcTN2" target="_blank">
                        <i class="pi pi-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/ABCD.Dance.Studio.Salem?mibextid=LQQJ4d" target="_blank">
                        <i class="pi pi-facebook"></i>
                    </a>
                </li>
                <li>
                    <a [href]="atData.yt" target="_blank">
                        <i class="pi pi-youtube" style="font-size: 26px;"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <strong>Contact:</strong><br>
            <div>
                <i class="pi pi-user pe-2"></i>
                <small>Karthik</small>
            </div>
            <div>
                <i class="pi pi-phone  pe-2"></i>
                <small>99432 52799</small>
            </div>
            <div>
                <i class="pi pi-envelope  pe-2"></i>
                <small> {{atData.email}} </small>
            </div>
        </div>
    </div>
</div>