<!-- <button (click)="sendEnquiryEmail()">Helo</button> -->
<div class="container">
    <div class="container-wrapper">
        <div class="left-content">
            <img src="../../../assets/icons/vibeWithAbcd.png" class="logo-abcd" *ngIf="enquiryClicked === ''" />
            <div *ngIf="enquiryClicked === 'REGULAR'">
                <!-- <img src="../../../assets/icons/sangeetIcon.png"  /> -->
                <div id="carouselExampleFade" class="carousel slide carousel-fade mt-3 mb-3" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="2000">
                            <img src="assets/eventPics/01kids.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="assets/eventPics/02kids.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="assets/eventPics/03kids.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div *ngIf="enquiryClicked === 'MARRIAGE'">
                <!-- <img src="../../../assets/icons/sangeetIcon.png"  /> -->
                <!-- <img src="../../../assets/icons/bdayIcon.png" *ngIf="enquiryClicked === 'BIRTHDAY'" /> -->
                <div id="carouselExampleFade" class="carousel slide carousel-fade mt-3 mb-3" data-bs-ride="carousel" >
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="2000">
                            <img src="assets/eventPics/marraige01.PNG" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="assets/eventPics/marraige02.PNG" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <img src="../../../assets/icons/djIcon.png" *ngIf="enquiryClicked === 'DJ'" />
            <img src="../../../assets/icons/marriageIcon.png" *ngIf="enquiryClicked === 'BIRTHDAY'" />
        </div>
        <div class="right-content">
            <p class="m-0 text-center">ABCD Enquiry Form 👋</p>
            <form [formGroup]="formDetails" (ngSubmit)="sendEnquiryEmail()">
                <div>
                    <label>Name</label><br>
                    <input type="text" name="enquirer_name" formControlName="enquirer_name" />
                </div>
                <div>
                    <label>Function Type</label><br>
                    <select name="enquirer_message" formControlName="enquirer_message">
                        <option value="">-- Select --</option>
                        <option value="Marriage">Marriage Events</option>
                        <option value="Birthday">Birthday Suprises Dance</option>
                        <option value="DJ Parties">DJ Parties</option>
                        <option value="Regular Classes">Regular Classes</option>
                        <option value="Sangeeth Event">Sangeeth Event</option>
                        <option value="College Culturals">College Culturals</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div>
                    <label>Place</label><br>
                    <input type="text" name="enquirer_place" formControlName="enquirer_place" />
                </div>
                <div>
                    <label>Mobile Number</label><br>
                    <input type="number" name="enquirer_contact_number" formControlName="enquirer_contact_number" />
                </div>
                <div>
                    <label>Event Date</label><br>
                    <input type="date" name="enquirer_event_date" formControlName="enquirer_event_date"
                        [min]="currentDate" />
                </div>
                <div class="submit-btn">
                    <button type="submit" [ngClass]="!formDetails.valid ? 'disable-class' : 'active-class'"
                        [disabled]="!formDetails.valid">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="isLoading" class="loader">
    <div class="confirm-modal">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
        <p class="m-0 ps-2"> Submitting.... </p>
    </div>
</div>